<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <title>{% block title %}Book Shop{% endblock %}</title>
</head>

<body class="bg-white text-black">

<div class="container min-vh-100 bg-white bg-gradient">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="row">
            <a class="text-black" href="/" style="text-decoration: None"><h1>Магазин книг</h1></a>
        </div>
    </div>

    <div class="row py-4">
        <h2>{% block content_title %}{% endblock %}</h2></a>
    </div>

    <div class="content">
        <ul class="list-group list-group-horizontal-xl">
            {% block content %}
            {% endblock %}
        </ul>
    </div>
</div>

</body>

</html>