{% extends "core/base.html" %}

{% block content_title %}Список категорий{% endblock %}

{% block content %}
    {% for category in categories %}
        <li class="list-group-item">
            <p><a class="text-black fs-4" href="{% url 'products_list' category.id %}">{{ category }}</a></p>
        </li>
    {% endfor %}
{% endblock %}