{% extends "core/base.html" %}

{% block content_title %}
    Список товаров "{{ category }}"
{% endblock %}

{% block content %}
    {% for product in products %}
        <li class="list-group-item">
            <p><a class="text-black fs-4" href="{% url 'product_detail' product.id %}">{{ product }}</p>
        </li>
    {% endfor %}

{% endblock %}