{% extends "core/base.html" %}

{% block content_title %}
    Описание товара
{% endblock %}

{% block content %}
    <li class="list-group-item">
        <div class="row">
            <h3>{{ product }}</h3>
        </div>
        {% if images %}
            {% for image in images %}
                <img class="my-4" src="{{ image.image.url }}" alt="Smth" width="200px" height="200px"/>
            {% endfor %}
        {% else %}
            <p class="py-5">Нет изображений</p>
        {% endif %}

        <p>Категория: {{ product.categories }}</p>

        <p class="fs-5">Стоимость: {{ product.price }}$</p>

        <p class="fs-5">Описание:</p>
        <p>{{ product.description }}</p>
    </li>

{% endblock %}