.body {
    background-color: #c7dbd2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.title {
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: inherit;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.book-shop-title{
    display: flex;
    flex-direction: row;
    align-self: center;
    color: black;
    font-style: normal;
    margin-left: 45%;
}
.content-title{
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
    margin-top: 10px;
    width: inherit;
    align-items: start;
    padding-left: 20px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: inherit;
}
.content-item{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    padding-left: 10px;
    background-color: cornsilk;
    margin-left: 10px;
}